<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzc.lease.web.admin.mapper.ProvinceInfoMapper">

    <select id="selectPNameByID" resultType="java.lang.String">
        select
            name
        from province_info
        where id=#{provinceId}
    </select>
</mapper>
